@{
    //Common Navbar
}

@using Microsoft.AspNetCore.Identity
@using COMP2139_labs.Areas.ProjectManagement.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project CoLab. <i class="fa-solid fa-circle-nodes"></i></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar to the Right: -->
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <form class="d-flex" asp-controller="Home" asp-action="GeneralSearch" method="get">
                <input class="form-control" type="text" placeholder="Search..." name="searchString" />
                <select class="form-control btn btn-secondary dropdown-toggle" name="searchType">
                    <option value="Projects"> Projects </option>
                    <option value="Task"> Task </option>
                </select>
            </form>

            <ul class="navbar-nav flex-grow-1 justify-content-end">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa-solid fa-house"></i> Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"> <i class="fa-solid fa-circle-info"></i> About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ProjectManagement" asp-controller="Project" asp-action="Index"> <i class="fa-solid fa-bars-progress"></i> Projects</a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {

                    @await Component.InvokeAsync("UserRole");

                    //Profile
                    <li class="nav-item d-flex align-items-center">

                        @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                        {
                            <img id="profilePicture" style="width: 30px; height: 30px; border-radius: 20px; object-fit: cover; margin-right: 2px;"
                                 src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" />

                        }
                        <a class="nav-link text-dark"
                           asp-area="Identity"
                           asp-page="/Account/Manage/Index" title="Manage your account"> Profile</a>
                    </li>

                    //Logout (no log in, no registration)
                    <li class="nav-item">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark" style="cursor:pointer">Logout</button>
                        </form>
                    </li>

                }
                else
                {

                    //Log in button
                    <li class="nav-link">
                        <a class="nav-link text-dark"
                           asp-area="Identity"
                           asp-page="/Account/Login"> <i class="fa fa-sign-in-alt"></i> Login</a>
                    </li>


                    //Registration
                    <li class="nav-link">
                        <a class="nav-link text-dark"
                           asp-area="Identity"
                           asp-page="/Account/Register"> <i class="fa fa-user-plus"></i> Register</a>
                    </li>

                }


            </ul>
        </div>
    </div>
</nav>