@{
    ViewData["Title"] = "404 not found";
}

<h1>404 - Page Not found</h1>
<p>Sorry the page you are looking ofr could not be found</p>
<a href="@Url.Action("Index", "Home")">Go back to Home Page</a>