@{
    var Name = "Pornpajee Sunkkadithee";
    var studentNumber = "101445976";
    var coursecode = "COMP2139 - W2024";
     
}

<!DOCTYPE>
<html>
<body>
    <h1>About Me</h1>
    <p>Name: @Name</p>
    <p>Student number: @studentNumber</p>
    <p>Course Code: @coursecode</p>
</body>
</html>
